<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div>
            <h2><a href="">Mi primer post</a></h2>
            <p>Mi primera experiencia como Guia en DjangoGirls Cali</p>
            <p>published: 04.10.2025, 12:14</p>
        </div>

        <div>
            <h2><a href="">Mi segundo post</a></h2>
            <p>en proceso de creación</p>
        </div>
    </body>
</html>
